body{
    background-color: black;
}
h1 {
    text-align: center; color: red;
}
p{
    text-align: center; color: snow;
}
 .Por Reforço Escolar matriculas verde {
    width: 50%;
    margin-left: 70%;
    border-radius: 10px; color: blueviolet;
    position: absolute;
}