body{
    background-color: black;
}
h1 {
    text-align: center; color: red;
}
p{
    text-align: center; color: snow;
}
.imagem5 {
    width:60%;
    margin-left:70%;
    border-radius: 30px; color: blueviolet;
    position: absolute;
}